/*
 * Any computational issues related to the use of the GUI can 
 * be reported on the appropriate GitHub page under "issues". 
 *  Note Thomas E. Woolley and Joshua W. Moore are mathematicians
 *  and are unable to supply any help on any particular medical application.
 * These should be directed to the local clinical specialist of the user.
 */
/* 
    Created on : 29-Nov-2018, 23:13:51
    Author     : moore
*/

.root{


    -fx-font-family: "Quivira";
    -fx-font-size: 12pt;



}


.default-color0.chart-series-line { -fx-stroke: red;
                                    -fx-stroke-dash-array: 5 5 5 5;
                                    -fx-stroke-width: 2px;
                                    -fx-stroke-type: centered;
}




/* this is the code that changed the look of the line*/
.default-color1.chart-series-line {

    -fx-stroke: black;
    -fx-stroke-type: centered;
    -fx-stroke-width: 2px;

}
.default-color4.chart-series-line {

    -fx-stroke: red;
    -fx-stroke-type: centered;
    -fx-stroke-width: 6px;

}
.default-color3.chart-series-line {

    -fx-stroke: green;
    -fx-stroke-type: centered;
    -fx-stroke-width: 6px;

}
.default-color2.chart-series-line {

    -fx-stroke: blue;
    -fx-stroke-type: centered;
    -fx-stroke-width: 6px;

}

.default-color5.chart-series-line {


    -fx-stroke: orange;
    -fx-stroke-type: centered;
    -fx-stroke-width: 6px;


}
.default-color6.chart-series-line {


    -fx-stroke: black;
    -fx-stroke-type: centered;
    -fx-stroke-width: 1px;


}
.default-color7.chart-series-line {


    -fx-stroke: black;
    -fx-stroke-type: centered;
    -fx-stroke-width: 1px;


}


.chart-plot-background {
    -fx-background-color: white;
}
.chart-symbol { /* solid circle */ 
    -fx-background-color: red;
    -fx-background-radius: 3px;
    -fx-padding: 3px;




}
.default-color1.chart-symbol {  /*star */
    -fx-background-color: red;
    -fx-background-radius: 3px;

    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol { /* solid diamond*/ 
    -fx-background-color: red;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,
        10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";

}
.default-color6.chart-symbol {  /*cross*/ 
    -fx-background-color: red, white;
    -fx-background-insets: 0, 2;

    -fx-shape: "M5,0 L10,8 L0,8 Z";
    -fx-background-radius: 0;
}
.default-color4.chart-symbol {  /*solid triangle */
    -fx-background-color: red, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol {  /*hollow circle*/ 
    -fx-background-color: red, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 3px;
    -fx-padding: 3px;
}
.default-color7.chart-symbol { /* hollow square */
    -fx-background-color: red, white;
    -fx-background-insets: 0, 2;

    -fx-shape: "M5,0 L10,8 L0,8 Z";
    -fx-background-radius: 0;
}
.default-color3.chart-symbol { /* hollow diamond */
    -fx-background-color: red, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2;
    -fx-padding: 5px 3px 5px 3px; 
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}

/*this is a class for all the charts to have a white background*/